@font-face {
    font-family: "Inter";
    src: url(fonts/Inter-VariableFont_wght.ttf);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    --bgc: #323647;
    --text-color: #ffffff;
    --primary-color: #ffb027;
    --card-bgc: #242734;
    scroll-behavior: smooth;
}
body {
    background-color: var(--bgc);
    font-family: "Inter";
}

/*** SECTION STYLES ***/
.dark-section {
    padding: 6vw 8vw;
    padding-bottom: 14vw;
    background-color: var(--card-bgc);
}
.clear-section {
    margin-top: 4vw;
    margin-inline: 8vw;
    margin-bottom: 8vw;
}

/*** HOME ***/
#home {
    display: flex;
    justify-content: space-between;
}

/* home-g */
.home-g {
    display: inline-block;
    width: 55%;
    margin-right: 5%;
}
.home_logo {
    width: 2rem;
    margin-bottom: 4vw;
}
.home_name,
.home_firstname {
    color: var(--text-color);
    text-transform: capitalize;
    font-size: 4rem;
    font-family: "Inter";
    font-weight: 600;
    line-height: 0.9;
    user-select: none;
}
.home_hr {
    margin-top: 0.8vw;
    width: 3rem;
    height: 0.2rem;
    background-color: var(--primary-color);
    border: none;
    margin-bottom: 1vw;
}
.home_skill {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 2vw;
    letter-spacing: 1px;
    & span {
        font-weight: bold;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }
}

.home-social {
    & ul {
        display: flex;
        gap: 1vw;
    }
    & ul > li {
        list-style: none;
    }
}
.social_link {
    color: var(--text-color);
    opacity: 0.8;
    font-size: 1.4rem;
    transition: 200ms ease;
    & i {
        font-size: 1em;
    }
    &:hover {
        font-size: 1.5rem;
    }
}

/* home-d */
.home-d {
    display: inline-block;
    width: 45%;
}
.home-navigation {
    margin-bottom: 6vw;
    & ul {
        display: flex;
        align-items: center;
        gap: 1vw;

        & li {
            list-style: none;
        }
    }
}
.nav_link {
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.4;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 600;
    user-select: none;
    transition: all 200ms ease-out;

    &:hover:not(.nav_link--active) {
        opacity: 0.6;
    }
}
.nav_link--active {
    font-size: 1.6rem;
    opacity: 1;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -0.8vw;
        transform: translateX(-50%);
        width: 0.5vw;
        height: 0.5vw;
        border-radius: 50%;
        background-color: var(--primary-color);
        opacity: 1;
    }
}

.landing {
    color: var(--text-color);
    transition: opacity 200ms ease-in-out;

    & h4 {
        opacity: 0.6;
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 0.5vw;
    }

    & h2 {
        font-size: 2rem;
        font-weight: 500;
        text-wrap: balance;
        margin-bottom: 3vw;
    }

    & p {
        font-size: 0.9rem;
        text-wrap: balance;
        opacity: 0.8;
        margin-bottom: 2vw;
        line-height: 1.2;
    }

    & a {
        text-decoration: underline solid;
        color: var(--primary-color);
        font-size: 1rem;
        font-weight: 600;

        & i {
            margin-left: 1vw;
        }
    }
}

/*** CONTACTS ***/
#contact {
    display: flex;
    justify-content: space-between;
}
/* contact a gauche */
.contact-g,
.contact-d {
    color: var(--text-color);
    width: 45%;
    transition: opacity 200ms ease-in-out;

    & h4 {
        opacity: 0.6;
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 1em;
    }

    & h2 {
        font-size: 2rem;
        font-weight: 500;
        text-wrap: balance;
        margin-bottom: 3vw;
    }

    & p {
        font-size: 0.9rem;
        text-wrap: balance;
        opacity: 0.8;
        margin-bottom: 2vw;
        line-height: 1.6;
        max-width: 80%;
    }

    & a {
        text-decoration: underline solid;
        color: var(--primary-color);
        font-size: 1rem;
        font-weight: 600;

        & i {
            margin-left: 1vw;
        }
    }
}
.contact-d {
    padding-top: calc(1rem * 2);
}
.skills-history {
    display: inline-flex;
    align-items: center;
    gap: 1vw;
    width: fit-content;
    margin-right: 2vw;

    & h2 {
        color: var(--primary-color);
        font-size: 3rem;
        line-height: 0.5;
    }

    & p {
        line-height: 1;
    }
}

/*** Projetc card ***/
#project-card {
    margin-top: -10vw;
    margin-inline: 8vw;
    margin-bottom: 8vw;
    display: flex;
    justify-content: space-between;
}
.project-card {
    width: 28%;
    aspect-ratio: 1/0.9;
    background-color: var(--bgc);
    padding-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    cursor: pointer;
    transition: all 200ms ease;

    & h2 {
        font-size: 2.2rem;
        font-weight: 400;
        width: min-content;
        line-height: 0.9;
        margin-bottom: 1vw;
        text-transform: capitalize;
    }

    & p {
        font-size: 0.9rem;
        opacity: 0.6;
    }
}
.project-card_icon {
    width: 2rem;
    filter: invert(1);
}
.project-card--active {
    background-color: var(--primary-color);
}

/*** PORTFOLIO ***/
#project {
    color: var(--text-color);
}
.project_tag {
    opacity: 0.6;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1vw;
}
.project_title {
    font-size: 2rem;
    font-weight: 500;
    text-wrap: balance;
    margin-bottom: 2vw;
    text-transform: capitalize;
    max-width: 20ch;
}
.project_descri {
    font-size: 0.9rem;
    text-wrap: balance;
    opacity: 0.8;
    margin-bottom: 2vw;
    line-height: 1.6;
    max-width: 60ch;
}
.project_link {
    text-decoration: underline solid;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 3vw;

    & i {
        margin-left: 1vw;
    }
}

/* PRT Fini*/
.prt-filter {
    display: flex;
    gap: 2vw;
    align-items: baseline;
    margin-bottom: 2vw;
}
.prt-filter_btn {
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid var(--primary-color);
    border-radius: 5rem;
    padding: 0.4em 1em 0.3em;
    background-color: transparent;
    cursor: pointer;
    transition: 200ms ease;

    &.prt-filter_btn--active {
        background-color: var(--primary-color);
    }

    &:hover:not(.prt-filter_btn--active) {
        background-color: rgba(255, 176, 39, 0.5);
    }
}

.prt-fini-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2vw;
}
.prt-fini_item {
    position: relative;
    min-width: 20vw;
    aspect-ratio: 4/3;
}
.prt-fini_img {
    display: inline-block;
    width: 100%;
    aspect-ratio: 4/2.5;
    object-fit: cover;
    object-position: top;
    filter: brightness(95%);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.4rem;
    margin-bottom: 0.5vw;
}

.prt-fini_img--before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 4/2.5;
    border-radius: 0.4rem;
    background: linear-gradient(to top, black, transparent, transparent);

    &::before {
        content: attr(data-title);
        position: absolute;
        bottom: 1.6vw;
        left: 2vw;
        font-size: 1.2rem;
        font-weight: 600;
        opacity: 0;
        text-transform: capitalize;
        transition: 400ms ease;
    }
    .after {
        font-family: "Font Awesome 6 Free";
        color: white;
        font-size: 1.4rem;
        opacity: 0;
        position: absolute;
        bottom: 1.6vw;
        right: 2vw;
        cursor: pointer;
        transition: 400ms ease;
    }
    &:hover {
        background: linear-gradient(to top, black, transparent);
        &::before,
        .after {
            opacity: 0.8;
        }
    }
}
.prt-fini_info {
    font-size: 0.9rem;
    font-weight: 600;
}
.prt-fini_descri {
    font-weight: 300;
    font-style: italic;
    opacity: 0.6;
}

/*** BLOG ***/
#tarif {
    color: var(--text-color);
}
.tarif_tag {
    opacity: 0.6;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1vw;
    text-transform: capitalize;
}
.tarif_title {
    font-size: 2rem;
    font-weight: 500;
    text-wrap: balance;
    margin-bottom: 2vw;
    max-width: 20ch;
}

.tarif-pack-box {
    display: flex;
    justify-content: space-between;
}
.pack-box {
    width: 32%;
    aspect-ratio: 3/4;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.2rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    transition: all 0.2s ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transform: scale(1.05);
    }

    &::before {
        content: attr(data-pack);
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--card-bgc);
        width: 100%;
        aspect-ratio: 16/5;
        position: absolute;
        top: 0;
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-bottom: 20px;
    }
}
.pack-box.starter::before {
    background-color: #4DA8DA;
}
.pack-box.pro::before {
    background-color: #5EDDA0;
}
.pack-box.premium::before {
    background-color: #D4AF37;
}
.pack-box_price {
    font-size: 3rem;
    font-weight: bold;
}
.pack-box_tag {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.pack-box_includes {
    padding-inline: 1vw;
    width: 100%;
}
.pack-box_job {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    padding-block: 0.8em;
    text-transform: capitalize;
}
.pack-box_job:nth-child(odd) {
    background-color: var(--card-bgc);
}

/*** FOOTER ***/
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 5vw 6vw;
    color: var(--text-color);
}
.footer_logo {
    width: 5vw;
    margin-bottom: 1rem;
}
.footer_p {
    margin-bottom: 1rem;
}
.footer-link_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer_link {
    font-size: 1.4rem;
    color: var(--text-color);

    &:hover {
        opacity: 0.6;
    }
}